
html { height: 100%; }
html, canvas, img {
  image-rendering: optimizeSpeed;
  image-rendering: optimize-contrast;
  image-rendering: -moz-crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: -webkit-optimize-contrast;
}
body {
  background-color: #333;
  color: orange;
  margin: auto;
  width: 640px;
  text-align: center;
  margin-top: 100px;
}
#screen {
  width: 640px;
  height: 480px;
  margin: auto;
  border: 1px solid black;
}
#fps, #info {
  text-align: left;
}
#info {

}
#info p {
  text-align: left;
}